.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #CCC;
	background-image: -webkit-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	-webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link:link  , #navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link:visited{
	text-decoration: none;
	color: #ffffcc;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	border-left: 1px solid #29C;
	border-right: 1px solid #066;
	border-bottom: 1px solid #066;
	border-top: 1px solid #29C;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link:hover {
	color: #FFF;
	background-color: #CCC;
	background-image: -webkit-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	-webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
.dropdown-menu .dropdown-item:link  , .dropdown-menu .dropdown-item:visited{
	background-color: #CCC;
	background-image: -webkit-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	-webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	color: #ffffcc;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	border-left: 1px solid #29C;
	border-right: 1px solid #066;
	border-bottom: 1px solid #066;
	border-top: 1px solid #29C;
}
.dropdown-menu .dropdown-item:hover {
	color: #FFF;
	background-color: #CCC;
	background-image: -webkit-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
	-webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
.row .navbar.navbar-expand-lg.navbar-light.bg-light {
	font-size: 90%;
}
.navbar-nav.mr-auto {
	margin: 0 auto;
}
header {
	text-align: center;
	height: 200px;
	background-color: #999;
	color: #fff;
	border-bottom: 5px solid #FD5;
	border-top: 5px solid #FD5;
	margin-bottom: 10px;
	background-image: url(images/fern.png) , url(images/stripe.png) , -webkit-linear-gradient(270deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
	background-image: url(images/fern.png) , url(images/stripe.png) , linear-gradient(180deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
	background-repeat: no-repeat , repeat-x;
	background-position: 45% center, 0 0;
	background-size: auto 75%, auto auto, auto;
	margin-top: 4em;
}
header h2 {
	margin-top: 1em;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-shadow: 0px 0px 12.48px rgba(0, 0, 0, 0.5);
	color: #00ff00;
	line-height: 0.8em;
	font-family: Impact, HelveticaNeue-CondensedBlack, "Robot Black", "Arial Black", "Arial Bold", sans-serif;
	font-size: 66px;
	font-weight: 400;
}
header p {
	margin: 0;
	line-height: 5em;
	font-family: "Lucida Sans Regular", "Helvetica Neue", Roboto, Arial, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0px 3px 4px rgba(0, 0, 1, 0.38);
	letter-spacing: .5em;
}
.logowhite {
	color: #FFF;
}
.sidebar1 blockquote {
	margin: 0 0 20px 0;
	padding: 0;
}
.sidebar1 blockquote p {
	margin: 0 0 5px 0;
	padding: 0 .5em;
	text-indent: -0.4em;
}
.sidebar1 blockquote cite {
	display: block;
	font-size: 90%;
	text-align: right;
	font-style: italic;
}
main.row aside {
	padding: 10px;
	min-height: 150px;
	font-size: 90%;
	border-top: solid 5px #069;
	border-bottom: solid 3px #069;
}
body {
	font-family: source-sans-pro, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4em;
}
main.row section h1 {
	font-family: bree-serif, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: 700;
	font-size: 300%;
	line-height: 1em;
}
main section article h2 {
	font-size: 200%;
	font-family: source-sans-pro, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #009900;
	font-weight: 700;
	line-height: 1em;
	font-style: normal;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
.sidebar2 {
	background-color: #ccffcc;
}
footer {
	background-color: #CCC;
	padding: 10px;
	background-image: -webkit-linear-gradient(90deg,rgba(3,75,9,1.00) 0%,rgba(3,185,36,1.00) 100%);
	background-image: linear-gradient(0deg, #034b09 0%, #03b924 100%);
	color: #FFC;
}
.navbar-light .navbar-toggler {
	border: 1px solid #29C;
	background-color: #28A;
}
.navbar-light .navbar-toggler:hover  , 
.navbar-light .navbar-toggler:focus{
	background-color: #29D;
}
.dropdown-menu {
	padding: 0;
	border-radius: 0;
	font-size: inherit;
}
.flt-lft {
	float: left;
	margin-right: 10px;
}
.flt-rgt {
	float: right;
	margin-left: 10px;
}
.profile {
	margin: 0 25px 15px 25px;
	padding-left: 10px;
	border-left: solid 2px #BDA;
	border-bottom: solid 10px #BDA;
}
section table {
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
	margin-bottom: 2em;
	font-size: 90%;
	border-bottom: solid 3px #060;
	width: 95%;
	border-collapse: collapse;
}
section td, section th {
	padding: 4px;
	text-align: left;
	border-top: solid 1px #090;
}
section th {
	color: #FFC;
	text-align: center;
	border-bottom: solid 6px #060;
	background-color: #090;
}
section .date {
	width: 6em;
}
section .class {
	width: 10em;
}
section .event {
}
section .description {
}
section .location {
}
section .cost {
	width: 4em;
	text-align: center;
}
section .length {
	width: 4em;
	text-align: center;
}
section .day {
	width: 4em;
	text-align: center;
}
table caption {
	margin-top: 20px;
	padding-bottom: 10px;
	color: #090;
	font-size: 160%;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
	caption-side: top;
}
.ui-state-default  ,.ui-widget-content .ui-state-default  ,.ui-widget-header .ui-state-default{
	border-left: 1px solid #FFC;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-repeat: repeat-x;
	background-position: 50% 50% repeat-x;
	background-color: #CCC;
	font-weight: bold;
	color: #1c94c4;
	background-image: -webkit-linear-gradient(90deg,rgba(3,75,9,1.00) 0%,rgba(3,185,36,1.00) 100%);
	background-image: linear-gradient(0deg, #034b09 0%, #03b924 100%);
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #FFC;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background-color: #0C0;
	background-image: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #090;
	-webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
	background-repeat: repeat-x;
	background-position: 50% 50% repeat-x;
	background-image: none;
}
.ui-widget-content {
	background-image: none;
	background-color: #FFC;
}
@media (max-width: 530px){
header p  {
	letter-spacing: 0;
	line-height: 2.5em;
}
header h2 {
	font-size: 45px;
}
header {
	height: 150px;
	background-size: 85% auto, auto auto, auto;
}
main.row section h1 {
	font-size: 225%;
}
main.row section article h2 {
	margin: .5em 0;
	font-size: 160%;
}

.profile {
	margin: 10px 0;
	padding: 5px 0;
	border-top: solid 10px #CADAAF;
	border-bottom: solid 5px #CADAAF;
	border-left: none;
}
section td, section th {
	display: block;
}
section table {
	margin: 10px auto;
}
section th {
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
	font-size: 0pt;
	overflow: hidden;
}
td.date:before {
	content: "Date: ";
}
td.event:before {
	content: "Event: ";
}
td.location:before {
	content: "Location: ";
}
td.cost:before {
	content: "Cost: ";
}
td.class:before {
	content: "Class: ";
}
td.description:before {
	content: "Description: ";
}
td.day:before {
	content: "Day: ";
}
td.length:before {
	content: "Length: ";
}
section .date, section .event, section .location, section .cost, section .class, section .description, section .length, section .day {
	width: 100%;
	padding-left: 30%;
	position: relative;
	text-align: left;
}
section tr {
	border-bottom: solid 2px #060;
}
td:before {
	width: 25%;
	display: block;
	padding-right: 10px;
	position: absolute;
	top: 6px;
	left: 1em;
	color: #060;
	font-weight: bold;
	white-space: nowrap;
	}
section tr {
	border-bottom: solid 2px #060;
}
section tr:nth-of-type(even) {
	background-color: #D4EAD4;
}
.flt-rgt {
	float: none;
	margin: 10px auto;
	display: block;
}
.hide-ad {
	display: none;
}
#Accordion1 div ul {
	padding: 0;
}

}

@media (min-width: 768px){
.col-md-4, .col-lg-3 {
	height: min-intrinsic;
}
main.row aside {
	height: min-content;
}
}
